<div class="slide intro-outro-pages" id="outro-page">
  <div class="row">
    <div class="col text-center gothic_light">
      <h3 id="end-text">If my work has caught your interest, you can reach me in the following ways...</h3>
      <br>
    </div>
  </div>
  <div class="row w-75">
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center">
      <p>
        <a href="tel:555-555-5555" class="text-decoration-none text-reset icon-size">
          <i class="bi bi-telephone-fill"></i><br>06 30 8 121 308
        </a>
      </p>
      <br>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center">
      <p>
        <a href="mailto:tamas@krizsanmunka.hu" class="text-decoration-none text-reset icon-size">
          <i class="bi bi-at"></i><br>tamas&#64;krizsanmunka.hu
        </a>
      </p>
      <br>
    </div>
    <div class="col text-center">
      <p>
        <a href="https://www.linkedin.com/in/tam%C3%A1s-krizs%C3%A1n-39723a153/" target="_blank" class="text-decoration-none text-reset icon-size">
          <i class="bi bi-linkedin"></i><br>tamás krizsán
        </a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
      <p><a href="../../../assets/downloads/Tamás Krizsán Resume.pdf" target="_blank"
            class="icon-size btn btn-primary">
          <i class="bi bi-download"></i> download resume
        </a>
      </p>
    </div>
  </div>
  <br>
  <div class="row d-flex flex-row-reverse">
    <div class="align-right">
      <a (click)="scroll(this.introPageRef.nativeElement)" class="link-opacity-100">
        <i class="bi bi-box-arrow-in-up"></i>to the top
      </a>
    </div>
  </div>
  <footer class=" footer text-center">
    <div id="container">
      <br>
      Krizsán Tamás Viktor &copy; 2025 |
      2161 Csomád Kossuth utca 19. |
      tamas&#64;krizsanmunka.hu
      <br>
      <a class="text-decoration-none text-reset" href="#">
        Web by Tamás Krizsán
      </a>
    </div>
  </footer>
</div>
