
#cv-page {
  background-image:url("../../../assets/img/content/cv/cv-bg.jpg");
}


#general-information {
  width: 83%;
}


/* xs-sm */
@media only screen and (max-width: 767px) {

  #cv-page {
    justify-content: flex-start;
    height: 155vh;
  }
}
