<div class="slide" id="cv-page">
  <div class="row wrapper-row">
    <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center gothic_light">
      <h1>
        <div class="text-hr text-hr--center">
          <span class="text-hr__text gothic_light">
            Resume
          </span>
        </div>
      </h1>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-block">
        <p class="text-start">
          <br>
          <span class="bi bi-person-fill">
          </span>
          <strong>
            GENERAL INFORMATION
          </strong>
        </p>
        <hr>
        <br>
        <p>
          <i class="bi bi-cake2-fill"></i><strong> Birthdate: </strong> 1988.03.28 Vác
        </p>
        <p>
          <i class="bi bi-house-door-fill"><strong> Residence: </strong></i> 2161 Csomád Kossuth street 19.
        </p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-block">
      <p>
        <br>
        <i class="bi bi-person-vcard-fill"></i><strong> CONTACT INFORMATION</strong>
      </p>
      <hr>
      <p>
        <a href="tel:555-555-5555" class="text-decoration-none text-reset">
          <i class="bi bi-telephone-fill"></i> +36 30 8 121 308
        </a>
      </p>
      <p>
        <a href="mailto:tamas@krizsanmunka.hu" class="text-decoration-none text-reset">
          <i class="bi bi-at"></i> tamas&#64;krizsanmunka.hu
        </a>
      </p>
        <p>
          <a href="https://www.linkedin.com/in/tam%C3%A1s-krizs%C3%A1n-39723a153/" target="_blank" class="text-decoration-none text-reset">
            <i class="bi bi-linkedin"></i> tamás krizsán
          </a>
        </p>
      </div>
    </div>
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-block">
      <p>
        <br>
        <i class="bi bi-mortarboard-fill"></i><strong> EDUCATION</strong>
      </p>
      <hr>
      <p>
        <strong>Verebély László High School 2003 - 2007</strong><br>
        high school diploma
      </p>
      <p>
        <strong>Athéné High School 2010 - 2013</strong><br>
        graphic design
      </p>
      <p>
        <strong>Web developer self-education 2021 - ongoing</strong>
      </p>
      <ul class="listing">
        <li>
          <a href="https://app.letscode.hu/series" class="link-light link-underline-opacity-0" target="_blank">
            Letscode
          </a>
        </li>
        <li>
          <a href="https://kodbazis.hu/" class="link-light link-underline-opacity-0" target="_blank">
            Kódbázis
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 text-block">
      <br>
      <i class="bi bi-briefcase-fill"></i><strong> WORK EXPERIENCE</strong>
      <hr>
      <p>
        <strong>Matejka Plasticware Wholesale 2012</strong>
        <br>
        DTP operator intern
      </p>
      <p>
      <strong>Municipality of Csomád 2015 - 2016</strong>
      <br>
      Deputy system administrator
      </p>
      <p>
        <strong>Self-employed web programmer & Designer 2016 - present</strong><br>
      </p>
    </div>
  </div>
  </div>
</div>

