#skills-page {

  background-image:url("../../../assets/img/content/skills/skills-bg.jpg");
}

/* xs-sm */
@media only screen and (max-width: 767px) {

  #skills-page {
    justify-content: flex-start;
    height: 220vh;
  }
}


/*
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}*/
