<div class="slide" id="skills-page">

  <div class="row wrapper-row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center gothic_light">
      <!-- <p style="text-align:center;"><i class="bi bi-tools"></i><strong> SKILLS</strong></p><hr>-->

      <h1>
        <div class="text-hr text-hr--center">
          <span class="text-hr__text gothic_light">Skills</span>
        </div>
      </h1>
    </div>



    <div class="row gy-3">
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-block">
        <strong> FRONT-END</strong>
        <hr>
        <br>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>Bootstrap</li>
          <li>Javascript</li>
          <li>Typescript</li>
          <li>Angular</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-block">
        <strong> BACK-END</strong>
        <hr>
        <br>
        <ul>
          <li>NodeJs</li>
          <li>Express</li>
          <li>MySQL</li>
          <li>Python</li>
          <li>PHP</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-block">
        <strong> TESTING</strong>
        <hr>
        <br>
        <ul>
          <li>Mocha</li>
          <li>Chai</li>
          <li>Postman</li>
          <li>Mailtrap.io</li>
        </ul>
      </div>
    </div>
    <br>
    <div class="row gy-3">
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-block">
        <strong>PROGRAMMING THEORY</strong>
        <hr>
        <br>
        <ul>
          <li>OOP</li>
          <li>S.O.L.I.D.</li>
          <li>F.I.R.S.T.</li>
          <li>A.C.I.D.</li>
          <li>D.R.Y</li>
          <li>design patterns</li>
          <li>Google Style Guides</li>
          <li>Clean code</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-block">
        <strong>TOOLS</strong>
        <hr>
        <br>
        <ul>
          <li>Bash</li>
          <li>Git</li>
          <li>NPM</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-block">

        <strong>FOREIGN LANGUAGES</strong><hr><br>
        <ul>
          <li>
            English - B1
          </li>
          <li>
            German - B1
          </li>
        </ul>
      </div>

    </div>


  </div>

</div>
