<div class="slide" id="gallery-page">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center gothic_light">
      <br>
      <div class="text-hr text-hr--center">
        <span class="text-hr__text gothic_light">
          <h1>My Latest Works</h1>
        </span>
      </div>
    </div>
  <div class="row d-flex justify-content-center" id="portfolio-content">
    <div class="card text-white bg-dark col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <img class="card-img-top img-fluid" src="assets/img/content/gallery/muanyag_frontend.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <strong>
              Matejka Műanyagárú <br> Nagykereskedelem
            </strong>
          </h5>
          <p class="card-text">
            <strong>
              Web - Frontend
            </strong>
            <br>
          </p>
          <p class="card-text">
            <br>
            <strong>
              Stack / Features:
            </strong>
            <br>
          </p>
        <ul>
          <li>Angular 17</li>
          <li>Responsive</li>
          <li>Database search functionality</li>
          <li>Contact form
            <ul>
              <li>input mask</li>
              <li>Frontend validation</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <a href="" target="_blank" class="btn btn-primary disabled">
          <i class="bi bi-github"></i> Github
        </a>
      </div>
    </div>
    <div class="card text-white bg-dark col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <img class="card-img-top img-fluid" src="assets/img/content/gallery/cv.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
          <strong>
            Krizsanmunka.hu
          </strong>
        </h5>
      <p class="card-text">
        <strong>
          Web
        </strong>
        <br>
        <br>
      </p>
      <p class="card-text">
        <br>
        <strong>Stack / Features:</strong><br>
      </p>
      <ul>
        <li>Angular 17</li>
        <li>Responsive design</li>
        <li>Animations</li>
      </ul>
      <br>
    </div>
    <div class="card-footer">
      <div class="row card-button-row">
        <div class="card-button-slot">
          <a href="https://krizsanmunka.hu" target="_blank" class="btn btn-primary card-button">
            <i class="bi bi-box-arrow-up-right"></i>Demo
          </a>
        </div>
        <div class="card-button-slot">
          <a href="" target="_blank" class="btn btn-primary card-button disabled">
            <i class="bi bi-github"></i> Github
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-white bg-dark mb-3 col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <img class="card-img-top img-fluid" src="assets/img/content/gallery/muanyag_backend.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">
        <strong>
          Matejka Műanyagárú <br> Nagykereskedelem
        </strong>
      </h5>
      <p class="card-text">
        <strong>
          Web - Backend
        </strong>
        <br>
        <br>
      </p>
      <p class="card-text">
        <strong>Stack / Features:</strong><br>
      </p>
      <ul>
        <li>Nodejs with Express.js</li>
        <li>REST API<ul>
          <li>Database search Service</li>
          <li>Send mail Service</li>
          <li>Backend validations</li>
          <li>API tests</li>
        </ul>
        </li>
      </ul>
    </div>
      <div class="card-footer">
        <a href="" target="_blank" class="btn btn-primary disabled">
          <i class="bi bi-github"></i> Github
        </a>
      </div>
    </div>
  </div>
  </div>
</div>

