
<div class="container-fluid slide intro-outro-pages" id="intro-page">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <img id="profile-picture" [ngSrc]="'assets/img/content/intro/me_circle.png'" alt="myself" height="537" width="530">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center gothic_light">
      Resume
      <br>
      <strong>
        Tamás Viktor Krizsán
      </strong>
      <br>
    </div>
    <h1>
      <div class="text-hr text-hr--center">
        <span class="text-hr__text gothic_light">
          web developer
        </span>
      </div>
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <br>
        <app-arrow></app-arrow>
    </div>
  </div>
</div>
